@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rock+Salt&display=swap');
:root {
    --primary-color: #346314;
    --secondary-color: #000000;
    --accent1-color: #92f8ff;
    --accent2-color: #FFFAFF;

    --heading-font: "Rock Salt", serif;
    --paragraph-font: "Roboto Slab", serif;

    --nav-background-color: #346314;
    --nav-link-color: #92f8ff;
    --nav-hover-link-color: #411ca5;
    --nav-hover-background-color: #7af32a;
}
body{
    max-width: 960px;
    margin: 0 auto;
}
header{
    text-align: center;
    text-decoration: none;
    background-color: #346314;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    
}
header a {
    font-size: 40px;
    text-align: center;
    line-height: 155px;
    margin-right: 15px;
    color: #92f8ff; /* Replace with the color you want */
    text-decoration: none; /* This removes the underline */
}
header a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
header img {
    float: left;
    margin: 0 0.25rem 0 1rem;
    width: 120px;
    height: auto;
    
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero {
    position: relative;
}
.hero h1 {
    color:#92f8ff;
    position: absolute;
    top: 50px;
    left: 75px;
}
.hero p {
    color: white;
    position: absolute;
    top: 190px;
    left: 15px;
    text-shadow: 0 0 50px rgb(48, 245, 9);
    z-index: 2;
}
.hero article img {
    width: 25%; /* Adjust as needed */
    position: absolute;
    bottom: 175px;
    right: 25px;
    z-index: 1;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
.advent-grid {
    text-align: center;
}
.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.image-grid {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
.image-grid img {
    flex: 0 0 auto;
    object-fit: cover; /* This will maintain the aspect ratio */
    height: 500px; /* Or whatever height you prefer */
    width: auto; /* This will keep the original image width */
}

p {
    font-size: 20px;
    padding: 25px;
    color:#FFFAFF
}
.sociallinks {
    font-size: 1.0rem;
    display: flex;
    flex-direction: row;
    
}
.sociallinks {
    display: flex;
    color: var(--nav-link-color);
    text-decoration: none;

}
.sociallinks:link, .sociallinks:visited {
    color: var(--nav-link-color);
}
.sociallinks a {
    padding: 20px 20px 20px; /* Adjust as needed*/
    line-height: 20px;
    
    
}
.sociallinks a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
.sociallinks img {
    width: 75px; /* Adjust this to your desired width */
    height: 75px; /* Adjust this to your desired height */
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-background-color)
}