@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rock+Salt&display=swap');
:root {
    --primary-color: #346314;
    --secondary-color: #000000;
    --accent1-color: #92f8ff;
    --accent2-color: #FFFAFF;

    --heading-font: "Rock Salt", serif;
    --paragraph-font: "Roboto Slab", serif;

    --nav-background-color: #346314;
    --nav-link-color: #92f8ff;
    --nav-hover-link-color: #411ca5;
    --nav-hover-background-color: #7af32a;
}
body{
    max-width: 960px;
    margin: 0 auto;
}
header{
    text-align: center;
    text-decoration: none;
    background-color: #346314;
}
header a {
    font-size: 40px;
    text-align: center;
    line-height: 155px;
    margin-right: 15px;
    color: #92f8ff; /* Replace with the color you want */
    text-decoration: none; /* This removes the underline */
}
header img {
    float: left;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero {
    position: relative;
}
.hero h1 {
    color:#92f8ff;
    position: absolute;
    top: 50px;
    left: 75px;
}
.hero p {
    color: white;
    position: absolute;
    top: 200px;
    left: 15px;
}
.hero article img {
    width: 25%; /* Adjust as needed */
    position: absolute;
    bottom: 175px;
    right: 25px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.0rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}